<%- include('../layouts/slidebar.ejs') %>
    <style>
        .logo {
            width: 10px;
            height: auto;

        }

        .aside-top {
            background-color: black;

        }

        .content-main {
            min-height: 500px;
        }

        .navbar-aside {
            background-color: black;
            color: white;
            width: 240px;
            padding: 20px;

        }

        .navbar-aside .logo {
            display: block;
            margin: 0 auto;
            max-width: 80%;

        }

        .menu-aside {
            list-style: none;
            padding: 0;
        }

        .menu-item {
            margin-bottom: 10px;
        }

        .menu-link {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .menu-link:hover {
            color: black;
        }

        .submenu {
            display: none;
        }

        .menu-item.active .submenu {
            display: block;
        }

        .submenu a {
            color: white;
            text-decoration: none;
        }

        .submenu a:hover {
            text-decoration: underline;
        }

        .menu-link .text {
            color: white
        }

        .menu-link:hover .text {
            color: black;
        }

        .submenu a {
            color: white;
            text-decoration: none;
        }

        .submenu a:hover {
            color: black;
        }

        .ss a {
            color: white;
            text-decoration: none;
            transition: color 0.3s;
        }

        .ss a:hover {
            color: black;
        }

        .main-wrapped {
            margin-left: 160px;
            background-color: white;
            position: relative
        }
    </style>


    <main class="main-wrap">
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <form action="/admin/addCoupon" method="post" id="couponForm">
                            <h2 class="content-title">Add Coupon</h2>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">

                            <div class="mb-4">
                                <label for="couponCode" class="form-label">Coupon Code</label>
                                <input type="text" name="couponCode" class="form-control" id="couponCode">
                                <p id="couponCodeError" class="error-message" style="color: red;"></p>
                            </div>
                            <div class="mb-4">
                                <label for="couponDescription" class="form-label">Description</label>
                                <textarea name="description" class="form-control" rows="4" id="description"></textarea>
                                <p id="descriptionError" class="error-message" style="color: red;"></p>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label for="discount" class="form-label">Discount</label>
                                        <div class="row gx-2">
                                            <input placeholder="$" max="100" min="1" name="discount" type="number"
                                                class="form-control" id="discount">
                                            <p id="discountError" class="error-message" style="color: red;"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label for="maxDiscount" class="form-label">Max Discount</label>
                                        <input placeholder="$" name="maxDiscount" type="number" class="form-control"
                                            id="maxDiscount">
                                        <p id="maxDiscountError" class="error-message" style="color: red;"></p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label for="minAmount" class="form-label">Min Amount</label>
                                        <input placeholder="$" name="minAmount" type="number" class="form-control"
                                            id="minAmount">
                                        <p id="minAmountError" class="error-message" style="color: red;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Expiration</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="expirationDate" class="form-label">Expiration Date</label>
                                <input type="date" name="expirationDate" class="form-control" id="expirationDate">
                                <p id="expirationDateError" class="error-message" style="color: red;"></p>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div>
                        <button form="couponForm" class="btn btn-md rounded font-sm hover-up"
                            type="submit">Publish</button>
                    </div>
                </div>
            </div>
            </form>
            </div>
            </div>
        </section> <!-- content-main end// -->
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#couponForm").submit(function (event) { // Add "#" in front of "couponForm"
                event.preventDefault();
                let formData = $(this).serialize();

                // Get form input values
                let couponCode = $("#couponCode").val().trim();
                let description = $("#description").val().trim();
                let discount = $("#discount").val().trim();
                let maxDiscount = $("#maxDiscount").val().trim();
                let minAmount = $("#minAmount").val().trim();
                let expirationDate = new Date($("#expirationDate").val().trim());;

                // Validation
                var isValid = true;

                if (couponCode === "") {
                    $("#couponCodeError").text("Please enter coupon code.");
                    isValid = false;
                } else if (couponCode.length > 50) {
                    $("#couponCodeError").text("Coupon Code must be 30 characters or less.");
                    isValid = false;
                }
                else {
                    $("#couponCodeError").text("");
                }

                if (description === "") {
                    $("#descriptionError").text("please enter description.");
                    isValid = false;
                } else if (description.length > 200) {
                    $("#descriptionError").text("Description must be 100 characters or less.");
                    isValid = false;
                }
                else {
                    $("#descriptionError").text("");
                }

                if (discount === "") {
                    $("#discountError").text("please enter discount.");
                    isValid = false;
                } else if (isNaN(discount) || discount <= 0 || discount > 100) {
                    $("#discountError").text("Discount must be a valid percentage between 1% and 100%.");
                    isValid = false;
                }

                else {
                    $("#discountError").text("");
                }

                if (maxDiscount === "") {
                    $("#maxDiscountError").text("Please enter maximum amount.");
                    isValid = false;
                } else if (isNaN(maxDiscount) || maxDiscount <= 0) {
                    $("#maxDiscountError").text("Maximum Discount must be greater than Zero.");
                    isValid = false;
                } else {
                    $("#maxDiscountError").text("");
                }

                if (minAmount === "") {
                    $("#minAmountError").text("Please enter minimum amount.");
                    isValid = false;
                } else if (isNaN(minAmount) || minAmount <= 0) {
                    $("#minAmountError").text("Minimum Amount must be greater than Zero.");
                    isValid = false;
                } else {
                    $("#minAmountError").text("");
                }

                const currentDate = new Date();
                if (expirationDate === "") {
                    $("#expirationDateError").text("Please enter expiration date.");
                    isValid = false;
                } else if (expirationDate <= currentDate) {
                    $("#expirationDateError").text("Expiration Date must be after the current date.");
                    isValid = false;
                } else {
                    $("#expirationDateError").text("");
                }

                // If all fields are valid, submit the form
                if (isValid) {
                    $.ajax({
                        type: "POST",
                        url: "/admin/addCoupon",
                        data: formData,
                        success: function (response) {
                            alert('fg')
                            window.location.href = '/admin/coupons'
                        },
                        error: function (error) {
                            console.error("Error submitting the form", error);
                        }
                    })
                }
            })
        })
    </script>


    <%- include('../layouts/slidefooter.ejs') %>