<footer class="footer-section">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo-wrap">
                <a href="#" class="footer-logo">Halang Furniture</a>
            </div>
            <p>
                Welcome to Halang Furniture, where we create exquisite furniture pieces that bring comfort and style to your home. Our craftsmanship is inspired by elegance and timeless design, ensuring that every piece complements your living space.
            </p>
            <div class="custom-social">
                <ul class="list-unstyled">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-divider"></div>
        <div class="copyright">
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved.
                    </p>
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
