<!DOCTYPE html>
<html lang="en">

<head>
  <title>Product</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" href=" /assets/imgs/theme/Black White Logo.png">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/css/util.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/profile.css">
  <!--===============================================================================================-->
  <link href="uiHome/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="uiHome/css/tiny-slider.css" rel="stylesheet">
  <link href="uiHome/css/style.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/simplecartjs/3.0.5/simplecart.min.js'></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

  <style>
    .footer-divider {
      width: 100%;
      /* Increase the width to 95% */
      height: 0.5px;
      background-color: #c6bdbd;
      margin: 20px auto;
      /* Center the divider horizontally */
      margin-top: 125px;
    }
  </style>
</head>

<body>
  <!-- Start Header/Navigation -->
  <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
    <div class="container">
      <a class="navbar-brand" href="index.html">Halang<span>.</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
        aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsFurni">
        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
          <li><a class="nav-link" href="/">Home</a></li>
          <li><a class="nav-link" href="/products">Shop</a></li>
          <li><a class="nav-link" href="about.html">About us</a></li>
          <li><a class="nav-link" href="services.html">Services</a></li>
          <li><a class="nav-link" href="blog.html">Contact us</a></li>

        </ul>
        <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
          <li><a class="nav-link" href="/profile"><img src="uiHome/images/user.svg"></a></li>
          <li><a class="nav-link" href="/cart"><img src="uiHome/images/cart.svg"></a></li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="container">
    <div class="main-body">
      <div id="content">
        <div class="my-account bg-gray">
          <div class="container-1200 flex" data-gtm-vis-recent-on-screen9560732_740="845"
            data-gtm-vis-first-on-screen9560732_740="845" data-gtm-vis-total-visible-time9560732_740="100"
            data-gtm-vis-has-fired9560732_740="1">
            <section class="myaccount-left">
                  <h4 style="padding-left: 20px;">Welcome, <%= user.name %>
                  </h4>
                  <div class="card">

                    <div class="d-flex flex-column align-items-center text-center">

                    </div>

                  </div>
                  <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6><a href="/showAddress" style="text-decoration: none">Manage address</a></h6>

                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6><a href="/orderlist" style="text-decoration: none">Orders</a></h6>

                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6><a href="/wallet" style="text-decoration: none">Wallet</a></h6>

                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6><a href="/wishlist" style="text-decoration: none">Wishlist</a></h6>

                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6><a href="/logout" style="text-decoration: none">Logout</a></h6>
                      </li>
                    </ul>
                

              </div>
            </section>


            <section class="myaccount-right account-right">
              <div class="top">My Account</div>
              <form action="/profile" method="post" id="profileForm">

                <div class="box">
                  <label for="Username"> Name</label>
                  <input type="text" id="name" name="name"  placeholder="Username"
                    value="<%= user.name %>" class="form-control">
                  <p id="nameError" style="color:red"></p>
                </div>
                <div class="box">
                  <label for="Phone">Phone Number</label>
                  <input type="number" id="tel" name="tel" placeholder="Phone number" value="<%= user.tel %>"
                    class="form-control telephone" >
                  <p id="telError" style="color:red"></p>
                </div>
                <div class="box">
                  <label for="email">Email Address</label>
                  <input type="email" id="email" name="email" placeholder="Email" value="<%= user.email %>"
                    class="form-control">
                  <p id="emailError" style="color:red"></p>
                </div>

                <div class="btns">
                  <button type="button" class="btn active edit_btn1" value="Update"
                    onclick="profileUpdate()">Update</button>
                </div>
              </form>
              <form action="/password" method="post" id="passwordForm">
                <div class="clearfix"></div>
                <div class="top">Change Password</div>
                <div class="box">
                  <label for="password">Password</label>
                  <input type="password" id="password"  name="password"
                    placeholder="Password" class="form-control password">
                  <p id="passwordError" style="color: red;"></p>
                </div>
                <div class="box">
                  <label for="confirm">Confirm Password</label>
                  <input type="password" id="confirm"  placeholder="Confirm Password"
                    name="confirmPassword" class="form-control confirm_password">
                  <p id="confirmPasswordError" style="color: red;"></p>
                </div>
                <div class="btns">
                  <button type="submit" class="btn active edit_btn" value="Update Password"
                    onclick="updatePassword()">Update Password</button>
                </div>
              </form>
            </section>


            <!-- footer-->
            <footer class="footer-section">
              <div class="container">
                <div class="footer-divider"></div>
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Halang Furniture</a></div>
                <p class="mb-4">Welcome to Halang Furniture, where we create exquisite furniture pieces that bring
                  comfort and style to your home. Our craftsmanship is inspired by elegance and timeless design,
                  ensuring that every piece complements your living space.</p>

                <!-- <ul class="list-unstyled custom-social">
                  <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                  <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul> -->
              </div>
               <div class="border-top copyright">
                <div class="row pt-4">
                  <div class="col-lg-6">
                    <!-- <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>  License information: https://untree.co/license/</p> -->
                  </div>

                  <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                      <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                    </ul>
                  </div>
                </div>
              </div>

          </div>

          </footer>

          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

          <script>
            function profileUpdate() {
              const emailErr = $('#emailError');
              const telErr = $('#telError');
              const nameErr = $('#nameError');

              const name = $('input[name="name"]').val().trim();
              const email = $('input[name="email"]').val().trim();
              const tel = $('input[name="tel"]').val().trim();

              emailErr.text('');
              telErr.text('');
              nameErr.text('');

              const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
              const telRegex = /^[6789]\d{9}$/;


              let valid = true;

              if (!name) {
                valid = false;
                nameErr.text('Please enter a username');
              } else if (!name.match(/^[a-zA-Z ,.'-]+$/)) {
                valid = false;
                nameErr.text('Username cannot contain invalid characters');
              }

              if (!email) {
                valid = false;
                emailErr.text('Please enter an email');
              } else if (!email.match(emailRegex)) {
                valid = false;
                emailErr.text('Please enter a valid email address');
              }

              if (!tel) {
                valid = false;
                telErr.text('Please enter a phone number');
              } else if (!tel.match(telRegex)) {
                valid = false;
                telErr.text('Enter valid phone number')
              }


              if (valid) {
                var formData = $('#profileForm').serialize();
                $.ajax({
                  type: 'POST',
                  url: '/updateProfile',
                  data: formData,
                  success: function (response) {
                    alert('update profile')
                    window.location.href = '/profile'
                  },
                  error: function (error) {
                    console.log('Error', error)
                  }
                })
              }
            }
          </script>
          <script>
            function updatePassword() {
              event.preventDefault()
              const passwordErr = $('#passwordError');
              const confirmPasswordErr = $('#confirmPasswordError');
              const password = $('input[name="password"]').val().trim();
              const confirmPassword = $('#confirm').val().trim();

              passwordErr.text('');
              confirmPasswordErr.text('');

              const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
              let valid = true;
              if (password === '') {
                valid = false;
                passwordErr.text('Enter password');
              } else if (!password.match(passwordRegex)) {
                valid = false;
                passwordErr.text('Please enter a valid password');
              }
              if (confirmPassword === '') {
                valid = false;
                confirmPasswordErr.text('Enter confirm password');
              }

              if (valid) {
                var passwordData = $('#passwordForm').serialize();

                $.ajax({
                  type: 'POST',
                  url: '/updatePassword',
                  data: passwordData,
                  success: function (response) {

                    if (response.success) {

                      window.location.href = '/profile';
                    } else {
                      $('#confirmPasswordError').text('Password do not match');
                    }
                  },
                  error: function (error) {
                    console.log('Error', error);
                  }
                });
              }
            }
          </script>

          <!--===============================================================================================-->
          <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
          <!--===============================================================================================-->
          <script src="/vendor/animsition/js/animsition.min.js"></script>
          <!--===============================================================================================-->
          <script src="/vendor/bootstrap/js/popper.js"></script>
          <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
          <!--===============================================================================================-->
          <script src="/vendor/select2/select2.min.js"></script>
          <script>
            $(".js-select2").each(function () {
              $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
              });
            })
          </script>
          <!--===============================================================================================-->
          <script src="/vendor/daterangepicker/moment.min.js"></script>
          <script src="/vendor/daterangepicker/daterangepicker.js"></script>
          <!--===============================================================================================-->
          <script src="/vendor/slick/slick.min.js"></script>
          <script src="/js/slick-custom.js"></script>
          <!--===============================================================================================-->
          <script src="/vendor/parallax100/parallax100.js"></script>
          <script>
            $('.parallax100').parallax100();
          </script>
          <!--===============================================================================================-->
          <script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
          <script>
            $('.gallery-lb').each(function () { // the containers for all your galleries
              $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                  enabled: true
                },
                mainClass: 'mfp-fade'
              });
            });
          </script>
          <!--===============================================================================================-->
          <script src="/vendor/isotope/isotope.pkgd.min.js"></script>
          <!--===============================================================================================-->
          <script src="/vendor/sweetalert/sweetalert.min.js"></script>
          <script>
            $('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
              e.preventDefault();
            });

            $('.js-addwish-b2').each(function () {
              var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
              $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
              });
            });

            $('.js-addwish-detail').each(function () {
              var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

              $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
              });
            });

            /*---------------------------------------------*/

            $('.js-addcart-detail').each(function () {
              var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
              $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
              });
            });

          </script>
          <!--===============================================================================================-->
          <script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
          <script>
            $('.js-pscroll').each(function () {
              $(this).css('position', 'relative');
              $(this).css('overflow', 'hidden');
              var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
              });

              $(window).on('resize', function () {
                ps.update();
              })
            });
          </script>
          <!--===============================================================================================-->
          <script src="/js/main.js"></script>



</body>

</html>